.swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
}

.swiper-pagination {
  position: static;
  margin-top: 16px;
  text-align: center;
  z-index: 0;
}

.swiper-pagination-bullet-active {
  background-color: rgba(181, 182, 188, 1);
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }
}
